<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-2 control-label">保单号：</label>
								<div class="col-sm-4">
									<input id="policyNo" name="policyNo" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">寄送单号：</label>
								<div class="col-sm-4">
									<input id="sendOrderno" name="sendOrderno" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">寄送文件类型：</label>
								<div class="col-sm-4">
									<select id="fileType" name="fileType" class="form-control" >
										<option value="-1">--请选择--</option>
										<option value="0">纸质保单</option>
										<option value="1">其他类型</option>
									</select>
								</div>
								<label class="col-sm-2 control-label">保险公司：</label>
								<div class="col-sm-4">
									<select id="insuranceCompany" name="insuranceCompany" class="form-control" >
										<option value="">--请选择--</option>
										<option value="富通保险">富通保险</option>
										<option value="泰康保险">泰康保险</option>
										<option value="平安保险">平安保险</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">快递公司：</label>
								<div class="col-sm-4">
									<select id="courierCompany" name="courierCompany" class="form-control" >
										<option value="">--请选择--</option>
										<option value="邮政">邮政</option>
										<option value="顺丰速运">顺丰速运</option>
										<option value="中通快递">中通快递</option>
									</select>
								</div>
								<label class="col-sm-2 control-label">寄送人类型：</label>
								<div class="col-sm-4">
									<select id="senderType" name="senderType" class="form-control" >
										<option value="-1">--请选择--</option>
										<option value="0">代理人</option>
										<option value="1">客户</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">寄送人姓名：</label>
								<div class="col-sm-4">
									<input id="senderName" name="senderName" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">寄送人电话：</label>
								<div class="col-sm-4">
									<input id="senderMobile" name="senderMobile" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">寄送人地址：</label>
									<div id="distpicker1">
										<div class="col-sm-2">
											<select id="senderProvince" name="senderAddress" class="form-control"></select>
										</div>
										<div class="col-sm-2">
											<select id="senderCity" name="senderAddress" class="form-control"></select>
										</div>
										<div class="col-sm-2">
											<select id="senderDistrict" name="senderAddress" class="form-control"></select>
										</div>
									</div>
								<div class="col-sm-4">
									<input id="senderAddress" name="senderAddress" class="form-control" type="text" placeholder="寄送人详细地址">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">寄送时间：</label>
								<div class="col-sm-4">
									<input id="sendTime" name="sendTime" class="form-control" type="text"
										   readonly="readonly" placeholder="请选择寄送时间" >
								</div>
								<label class="col-sm-2 control-label">收件人姓名：</label>
								<div class="col-sm-4">
									<input id="recipientName" name="recipientName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">收件人电话：</label>
								<div class="col-sm-4">
									<input id="recipientMobile" name="recipientMobile" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">收件时间：</label>
								<div class="col-sm-4">
									<input id="receiptTime" name="receiptTime" class="form-control" type="text"
										   readonly="readonly" placeholder="请选择收件时间">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">收件人地址：</label>
									<div id="distpicker2">
										<div class="col-sm-2">
											<select id="recipientProvince" name="recipientAddress" class="form-control"></select>
										</div>
										<div class="col-sm-2">
											<select id="recipientCity" name="recipientAddress" class="form-control"></select>
										</div>
										<div class="col-sm-2">
											<select id="recipientDistrict" name="recipientAddress" class="form-control"></select>
										</div>
									</div>
								<div class="col-sm-4">
									<input id="recipientAddress" name="recipientAddress" class="form-control" type="text" placeholder="收件人详细地址">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">寄送内容：</label>
								<div class="col-sm-4">
									<input id="sendContent" name="sendContent" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">寄送描述：</label>
								<div class="col-sm-4">
									<textarea id="sendDesc" name="sendDesc" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">寄送附件：</label>
								<div class="col-sm-2">
									<input id="sendAttach" name="sendAttach" class="form-control" type="text"
										   readonly="readonly" placeholder="未选择附件">
								</div>
								<div class="col-sm-2">
									<button id="uploadAttach" class="btn btn-primary">选择附件</button>
								</div>
								<label class="col-sm-2 control-label">寄送状态：</label>
								<div class="col-sm-4">
									<select id="sendState" name="sendState" class="form-control">
										<option value="-1">--请选择--</option>
										<option value="0">寄送中</option>
										<option value="1">已签收</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">冷静期起：</label>
								<div class="col-sm-4">
									<input id="calmPeriodStart" name="calmPeriodStart" class="form-control" type="text"
										   readonly="readonly" placeholder="请选择冷静期起始日期">
								</div>
								<label class="col-sm-2 control-label">冷静期止：</label>
								<div class="col-sm-4">
									<input id="calmPeriodEnd" name="calmPeriodEnd" class="form-control" type="text"
										   readonly="readonly" placeholder="请选择冷静期终止日期">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/send/sendInfo/add.js">
	</script>
</body>
</html>
