<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="send:sendInfo:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="send:sendInfo:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<button shiro:hasPermission="send:sendInfo:import" type="button" class="btn  btn-info"
									onclick="import1()">
								<i class="fa fa-download" aria-hidden="true"></i>导入
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							寄送文件类型：<select id="fileType" name="fileType" class="form-control" placeholder="选择寄送文件类型">
												<option value="">--选择寄送文件类型--</option>
												<option value="0">纸质保单</option>
												<option value="1">其他类型</option>
						                  </select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							寄送单号：<input id="sendOrderno" name="sendOrderno" type="text" class="form-control"
									   placeholder="寄送单号">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							保单号：<input id="policyNo" name="policyNo" type="text" class="form-control"
								placeholder="保单号">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="send:sendInfo:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="send:sendInfo:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="send:sendInfo:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/send/sendInfo/sendInfo.js"></script>
</body>
</html>