<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解客户中心</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;系统架构介绍</h3>
        <ul>
            <li>核心框架：Spring Boot</li>
            <li>安全框架：Apache Shiro</li>
            <li>模板引擎：Thymeleaf</li>
            <li>持久层框架：MyBatis</li>
            <li>数据库连接池：Alibaba Druid </li>
            <li>缓存框架：Ehcache 、Redis</li>
            <li>日志管理：SLF4J </li>
            <li>工具类：Apache Commons、Jackson</li>
        </ul>
         <h3>&nbsp;&nbsp;&nbsp;核心业务介绍</h3>
        <ul>
            <li>客户预约签单</li>
            <li>客户照会管理</li>
            <li>保全管理</li>
            <li>理赔管理</li>
            <li>首、续期缴费管理</li>
            <li>消息推送</li>
            <li>...</li>
        </ul>

        

       
    </div>
</div>
</body>
</html>